{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="text-center">
    <main class="main">
      <div class="container">
            <form class="form-top" method='post'>{% csrf_token %}
            <div class="title">
                <img class="mb-4" src="{% static './kusuriapp/medicine07.webp' %}" alt="薬のイメージ図" width="150" height="150">
                <h1 class="h3 mb-3 fw-normal">薬管理</h1>
            </div>
    {% for object in object_list %}
       <p>{{ object.taking_start }}</p>
       <p>{{ object.taking_dossage }}</p>
       <p>{{ object.name }}</p>
       <p>{{ object.taking_unit }}</p>
       <p>{{ object.taking_end }}</p>
       <p>{{ object.text }}</p>
    {% endfor %}
    <select class="form-select" aria-label="Default select example">
        <option selected>服用者</option>
        <option value="1">本人</option>
        <option value="2">家族1</option>
        <option value="3">家族2</option>
        <option value="4">家族3</option>
        <option value="5">家族4</option>
        <option value="6">家族5</option>
    </select>
    
    <select class="form-select" aria-label="Default select example">
        <option button>薬名</option>
    </select>

    <select class="form-select" aria-label="Default select example">
        <option selected>飲み始め</option>
        <option value=""></option>
    </select>

    <select class="form-select" aria-label="Default select example">
        <option selected>服用期間</option>
        <option value=""></option>
    </select>

    <select class="form-select" aria-label="Default select example">
        <option selected>服用間隔</option>
        <option value="1">毎日</option>
        <option value="2">1日</option>
        <option value="3">2日</option>
        <option value="4">3日</option>
        <option value="5">4日</option>
        <option value="5">5日</option>
        <option value="5">6日</option>
    </select>

    <select class="form-select" aria-label="Default select example">
        <option button>服用量</option>
    </select>

    <select class="form-select" aria-label="Default select example">
        <option button>服用時刻</option>
    </select>
      
      
    <label for="switch" class="switch_label">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">アラームスイッチ</label>
    </div>
        
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">薬メモ</label>
    </div> 
    <footer class="footer">
        <div>
            <a class="footer-logo">
              <img class="mt-2 mb-3" src="{% static './kusuriapp/medicine11.webp' %}" alt="薬のイメージ図" width="150" height="150">
            </a>
            <p class="mt-1 mb-3 text-muted">&copy; 2017–2021</p>
        </div>
    </footer>
  </div>
{% endblock content %} 