{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="text-center">
    <main class="main">
        <div class="container">
            <form class="form-top" method='post'>{% csrf_token %}
            <div class="title">
                <img class="mb-2" src="{% static './kusuriapp/medicine07.webp' %}" alt="薬のイメージ図" width="150" height="150">
                <h1 class="h5 mb-1 fw-normal">薬登録</h1>
        <div>
        <form class="col-12 col-lg-auto mb-1 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          <!--
          {% for object in object_list %}
          <p>{{ object.medicine_name }}</p>
          {% endfor %}
          -->  
        </form>
      </div>      
      </div>
      <div>
    <select class="form-select" aria-label="Default select example">
      <option selected>薬名</option>
      {% for object in object_list %}
      <option><p>{{ object.medicine_name }}</p></option>
      {% endfor %}      
      </select>
    </div>

    <select class="form-select" aria-label="Default select example">

        <option selected>種別</option>
        <option value="1">処方</option>
        <option value="2">処方(ジェネリック)</option>
        <option value="3">処方(漢方)</option>
        <option value="4">市販薬</option>
        <option value="5">市販薬(子供用)</option>
        <option value="5">セルフメディケーション税剤対象</option>
      </select>

      <select class="form-select" aria-label="Default select example">

        <option selected>剤型</option>
        <option value="1">散剤</option>
        <option value="2">錠剤</option>
        <option value="3">カプセル</option>
        <option value="4">液剤</option>
        <option value="5">外用薬</option>
        <option value="6">注射剤</option>
        <option value="7">自己注射剤</option>
        <option value="8">その他</option>
      </select>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h4 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            製造メーカー選択
            </button>
          </h4>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
        <strong>
        <div class="card text-center">
          <form class="card-header">
            <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
              {% for initial in 'あかさたなはまやらわ' %}
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link {% if forloop.first %}active{% endif %}"
                  data-bs-toggle="tab"
                  data-bs-target="#tab{{ forloop.counter }}"
                  type="button"
                  role="tab"
                  aria-controls="tab{{ forloop.counter }}"
                  aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                >
                  {{ initial }}行
                </button>
              </li>
              {% endfor %}
            </ul>
            
            <div class="tab-content mt-2" id="myTabContent">
              {% for object in object_list %}
                {% ifchanged object.initials %}
                  {% if not forloop.first %}</ul></div>{% endif %}
                  <div
                    id="tab{% if object.initials == 'あ' %}1{% elif object.initials == 'か' %}2{% elif object.initials == 'さ' %}3{% elif object.initials == 'た' %}4{% elif object.initials == 'な' %}5{% elif object.initials == 'は' %}6{% elif object.initials == 'ま' %}7{% elif object.initials == 'や' %}8{% elif object.initials == 'ら' %}9{% elif object.initials == 'わ' %}10{% endif %}"
                    class="tab-pane fade {% if forloop.first %}show active{% endif %}" role="tabpanel"
                  >
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="fw-bold">{{ object.medicine_name }}</div>
                      {{ object.company_name }}
                    </li>
                {% else %}
                  <li class="list-group-item">
                    <div class="fw-bold">{{ object.medicine_name }}</div>
                    {{ object.company_name }}
                  </li>
                {% endifchanged %}
              {% endfor %}
            </div>
          </div>
        </div>
        </form>
        </div>
        </div>
      </div>
      <a href="#" class="btn btn-primary">追加</a>
    <footer class="footer">
        <div>
            <a class="footer-logo">
              <img class="mt-2 mb-3" src="{% static './kusuriapp/medicine11.webp' %}" alt="薬のイメージ図" width="150" height="150">
            </a>
            <p class="mt-1 mb-3 text-muted">&copy; 2017–2021</p>
          </div>
        </div>
    </footer>
{% endblock content %}