{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="text-center">
    <main class="main">
        <div class="container">
            <form class="form-setting" method='post'>
            <div class="title">
                <img class="mb-4" src="{% static './kusuriapp/medicine06.webp' %}" alt="薬のイメージ図" width="150" height="150">
                <h1 class="h3 mb-3 fw-normal">設定</h1>
            </div>
    <div class="d-grid gap-4 col-6 mx-auto">
        <button class="btn btn-primary" type="button">個人管理</button>
        <button class="btn btn-primary" type="button">薬の管理</button>
        <button class="btn btn-primary" type="button">家族管理</button>
        <button class="btn btn-primary" type="button">アラーム時間設定</button>        
      </div>
    <footer class="footer">
        <div>
            <a class="footer-logo">
              <img class="mt-2 mb-3" src="{% static './kusuriapp/medicine11.webp' %}" alt="薬のイメージ図" width="150" height="150">
            </a>
            <p class="mt-1 mb-3 text-muted">&copy; 2017–2021</p>
          </div>
        </div>
    </footer>
    {% endblock content %}