{% extends 'base.html' %}
{% block content %}
{% load static %}
{% for item in object_list %}
  {{ item.email }}
  {{ item.user_id }}
  {{ item.login_id }}
{% endfor %}
<div class="text-center">
  <main class="form-signin">
    <div class="container">
    <form class="form-signin" method='post'>{% csrf_token %}
        <img class="mb-4" src="{% static './kusuriapp/medicine09.webp' %}" alt="薬のイメージ図" width="150" height="150">
        <h1 class="h3 mb-3 fw-normal">サインイン</h1>
{% if error %}
{{ error }}
{% endif %}
        <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name=email_data required autofoncus>
        <label for="floatingInput">Emailアドレス</label>
        </div>
        <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password_data" required>
        <label for="floatingPassword">パスワード</label>
        </div>

        <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> ログイン状態を保持する
        </label>
        </div>
        <form action='' method='POST'>{% csrf_token %}  
          {{ form.as_p}}
        <!-- <input type="submit" value='登録する'> -->
        <button class="w-100 btn btn-lg btn-primary" type="submit">登録する</button>
        </form>
        
    </form>
    </div>
    </main>
    <footer class="footer">
      <div>
          <a class="footer-logo">
            <img class="mt-2 mb-3" src="{% static './kusuriapp/medicine11.webp' %}" alt="薬のイメージ図" width="150" height="150">
          </a>
          <p class="mt-1 mb-3 text-muted">&copy; 2017–2021</p>
        </div>
      </div>
  </footer>
{% endblock content %}
  </body>
</html>