{% extends 'base.html' %}
{% block content %}
{% load static %}
{% for item in object_list %}
  {{ item.email }}
  {{ item.user_id }}
  {{ item.login_id }}
{% endfor %}
<div class="text-center">
  <main class="form-signin">
    <div class="container">
      <form class="form-signin" method='post'>{% csrf_token %}
        <img class="mb-4" src="{% static './kusuriapp/medicine09.webp' %}" alt="薬のイメージ図" width="150" height="150">
        <h1 class="h3 mb-3 fw-normal">サインイン</h1>
{% if error %}
{{ error }}
{% endif %}
        <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name=email_data required autofoncus>
        <label for="floatingInput">Emailアドレス</label>
        </div>
        <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password_data" required>
        <label for="floatingPassword">パスワード</label>
        </div>

        <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> ログイン状態を保持する
        </label>
        </div>
        <tr>
          <td>{{ form.email_name.label_tag }}</td>
          <td>{{ form.email_name }}
        </tr>
        <tr>
          <td>{{ form.password_name.label_tag }}</td>
          <td>{{ form.password_name }}
        </tr>
        <input type="submit" id="login_button" class="btn btn-primary" value='登録する'>
      </form>
        {% if user.is_authenticated %}
        <form action='' method='POST'>{% csrf_token %}  
          {% else %}
        <a href="{% url 'top' %}">設定</a>
        </form>
        {% endif %}
    </form>
    
        <div>
          <a class="footer-logo">
            <img class="mt-2 mb-3" src="{% static './kusuriapp/medicine11.webp' %}" alt="薬のイメージ図" width="150" height="150">
          </a>
          <p class="mt-1 mb-3 text-muted">&copy; 2017–2021</p>
        </div>
    </div>
  </main>
</div>
  <script>
    'user script'
    window.alert('登録が完了しました。')
  </script>
{% endblock content %}
  </body>
</html>