{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="text-center">
  <main class="form-taker">
      <div class="container">
        <form class="form-signin" method='post'>{% csrf_token %}
            <img class="mb-4" src="{% static './kusuriapp/medicine16.webp' %}" alt="薬のイメージ図" width="150" height="150">
            <h1 class="h3 mb-3 fw-normal">服用者管理</h1>
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    本人
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    <strong>登録薬の選択</strong><code>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    家族1
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    <strong>登録薬の選択</strong><code>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    家族2
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                    <strong>登録薬の選択</strong>
                  </div>
                </div>
              </div>
            </div>
        <button class="btn btn-primary">登録する</button>
      </div>
    </main>
    <footer class="footer">
      <div>
          <a class="footer-logo">
            <img class="mt-2 mb-3" src="{% static './kusuriapp/medicine11.webp' %}" alt="薬のイメージ図" width="150" height="150">
          </a>
          <p class="mt-1 mb-3 text-muted">&copy; 2017–2021</p>
        </div>
      </div>
  </footer>
  {% endblock content %}