@charset "utf-8";

*,
::before,
::after{
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
}
body .text-center{
    padding: 0px 0px 0px 0px;
    margin: auto;
}
.form-floating #floatingInput{
    width: 40%;
    height: 50px;
    margin: 0px auto;
}
.nav-search-field .form-select {
    width: 40%;
    margin: 0px auto;
}
label{
    margin-left: 30%;
}
.switch{
    margin: 0% 31% auto;
}
.form-check-label {
    margin-top: 5px;
    margin-left: 0%;
}
.switch .form-check .form-check-input{
    width: 60px;
    height: 25px;
    margin-left: -50px;
    margin-bottom: 10px;
}
.footer-title {
    margin: 0% 30% auto;
    width: 40%;
    height: 100px;
}
.footerLog .footer-logo {
    margin-top: 50px;
}

@media screen and (max-width:350px) {
    .form-floating #floatingInput{
        width: 70%;
        height: 50px;
        margin: 0px auto;
    }
    .nav-search-field .form-select {
        width: 70%;
        margin: 0px auto;
    }
    label{
        margin-left: 70%;
    }
    .switch{
        margin: 0px 110px auto;
    }
    .form-check-label {
        margin-top: 5px;
        margin-left: -250px;
    }
    .switch .form-check .form-check-input{
        width: 60px;
        height: 25px;
        margin-left: -50px;
        margin-bottom: 10px;
    }
    textarea.form-control {
        margin-left: -200px;
    }
    .btn-primary {
        margin-left: -400px;
    }
    .footer-title {
        margin: 0px 300px auto;
        width: 70%;
        height: 100px;
    }
}