@charset "utf-8";

*,
::before
::after{
    padding: 0;
    margin: 0;
}

.container {
    background-color: rgb(211, 248, 239);
}


.s-suggestion {
    padding: 7px 10px;
    font-size: 16px;
    cursor:pointer
}

.s-suggestion:hover {
    background-color:#eee
}