@charset "utf-8";

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-search-field {
    width: 100%;
    margin-left: 0px;
}

.nav-search-field #js-search-text {
    width: 465px;
    height: 46px;
    margin: 2px auto;
    background-color: rgb(201, 251, 253);
}

.nav-right #js-search-btn {
    width: 55px;
    height: 46px;
    margin-right: 303px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(144, 247, 247);
}

.navbar {
    padding: 0px 0px 0px 0px;
}

.container {
    background-color: rgb(211, 248, 239);
}

.s-suggestion {
    padding: 7px 10px;
    font-size: 16px;
    cursor: pointer;
}

.s-suggestion:hover {
    background-color: rgb(195, 233, 245);
}

.nav-search-field .form-select {
    margin: 2px auto;
    display: block;
    width: 36%;
    height: 40px;
}

.form-floating>.form-control, .form-floating>.form-select {
    width: 403px;
    height: 45px;
    margin: 1px 84px 2px 14px;
    line-height: normal;
}

.form-floating>.form-select{
    margin-left: -275px;
    width: 370px;
}

.accordion {
    margin-left: 17px;
    width: 1080px;
}

.accordion-button {
    padding: 1rem 0.25rem;
}

.accordion-item:first-of-type {
    padding: 0;
    margin: 2px 340px 2px 340px;
    background-color: rgb(183, 247, 247);
}

.nav-search-field .accordion-button {
    width: 92%;
    margin: 2px auto 2px 17px;
}

.footerLog .footer-logo{
    margin-left: 100px;
}

.input-button {
    margin-top: -10px;
    margin-bottom: 5px;
}

img {
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}



@media (max-width:800px) {

    .container, .container-md, .container-sm {
        padding: 0px;
        margin: auto;
        display: block;
        position: relative;
    }

    .link-button-area {
        text-align: right;
        margin: 2px auto 2px 92px;
        display: block;
        position: relative;
    }

    .nav-search-field #js-search-text {
        width: 50%;
        height: 45px;
        margin: 2px auto;
        padding-left: 5px;
        padding-right: 20px;
        display: block;
        background-color: rgb(201, 251, 253);
        position: relative;
    }
   
    .nav-search-field .form-select {
        margin: 2px auto;
        display: block;
        width: 50%;
        height: 100%;
    }
    
}