@charset "utf-8";
*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
button {
    margin-left: 10px;
}

.first-view {
    background-color: rgb(162, 247, 226);
}

.container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.form-floating {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: oblique;
    margin-left: 9px;
    margin-right: 100px;
}

.form-floating #name {
    font-size: 15px;
}

.form-floating #name1 {
    font-size: 15px;
}

.form-floating #name2 {
    font-size: 15px;
}

.accordion-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: blue;
}

.container .form-floating #floatingInput0 {
    width: 357px;
    height: 49px;
    margin-left: 10px;
    margin-top: -50px;
    margin-bottom: 21px;
    text-align: center;
    font-size: 25px;
    z-index: 1;
}

.container .form-floating #floatingInput1 {
    width: 357px;
    height: 49px;
    margin-left: 10px;
    margin-top: -50px;
    margin-bottom: 21px;
    text-align: center;
    font-size: 25px;
    z-index: 1;
}

.container .form-floating #floatingInput2 {
    width: 357px;
    height: 49px;
    margin-left: 10px;
    margin-top: -50px;
    margin-bottom: 21px;
    text-align: center;
    font-size: 25px;
    z-index: 1;
}

.accordion-button .form-floating {
    width: 100px;
    margin-left: -11px;
    margin-right: 330px;
}

.accordion-button::after {
    margin-left: -54px;
}

.accordion-button:not(.collapsed)::after{
    margin-left: -10px;
}

.btn-primary {
    margin-top: -15px;
}

.text-center .footerLog .footerLogo {
    margin-top: 10px;
}

.accordion .accordion-item .form-floating {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: -11px;
    margin-right: 0px;
    margin-top: -25px;
    margin-bottom: -20px;
    width: 250px;
}

.accordion-item:first-of-type .accordion-button  {
    margin-left: 350px;
    width: 40px;
}

.accordion .accordion-item .accordion-button{
    margin-left: 357px;
}

input {
    margin-top: 10px;
}

@media (max-width:800px) {
    
    .form-floating #name {
        margin-left: 10px;
        font-size: 15px;
    }
    .accordion .accordion-item .form-floating #name1 {
        padding-left: 100px;
        margin-left: -170px;
        font-size: 15px;
    }
    .form-floating #name2 {
        margin-left: 10px;
        font-size: 15px;
    }
    .accordion-button:not(.collapsed)::after{
        margin-left: -10px;
    }
    .footer-logo{
        margin-left: 0px;
        margin-top: 100px;
    }
    .text-muted{
        margin-left: 0px;
    }
    
    .form-select {
        margin-left: 0px;
    }
    .accordion .accordion-item .form-floating {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: -11px;
        margin-right: 0px;
        margin-top: -25px;
        margin-bottom: -20px;
        width: 250px;
    }
    .accordion .accordion-item .form-floating #floatingInput0 {
        width: 355px;
        height: 49px;
        margin-left: 10px;
        margin-top: -50px;
        margin-bottom: 21px;
        text-align: center;
        font-size: 25px;
        z-index: 1;
    }
    .accordion .accordion-item .form-floating #floatingInput1 {
        width: 355px;
        height: 49px;
        margin-left: 10px;
        margin-top: -50px;
        margin-bottom: 21px;
        text-align: center;
        font-size: 25px;
        z-index: 1;
    }
    .accordion .accordion-item .form-floating #floatingInput2 {
        width: 355px;
        height: 49px;
        margin-left: 10px;
        margin-top: -50px;
        margin-bottom: 21px;
        text-align: center;
        font-size: 25px;
        z-index: 1;
    }
    .accordion-item:first-of-type .accordion-button  {
        margin-left: 200px;
        width: 40px;
    }
    .accordion .accordion-item .accordion-button{
        margin-left: 357px;
    }
    .form-floating #name1{
        margin-left: 500px;
        padding-left: 500px;
    }
    .form-floating>.form-control{
        margin: 1px 84px 2px 14px;
    }
    .accordion-item:last-of-type {
        padding: 0px 0px 0px 1px;
        margin: 0px 545px 0px 135px;
    }
    #accordionPanelsStayOpenExample{
        margin-left: -190px;
    }
    code .btn-primary{
        margin-left: 0px;
    }
}