@charset "utf-8";

*,
::before
::after{
    padding: 0;
    margin: 0;
}

.first-view {
    background-color: rgb(162, 247, 226);
}

.container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.form-floating {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: oblique;
}

.accordion-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: blue;
}

@media (max-width:800px) {
    
}